/* Général */
body {
  font-family: 'Lato', sans-serif;
}

.divider {
  width: 100px;
  height: 2px;
  margin: 0 auto 20px;
}

.divider.white {
  background-color: white;
}

ul {
  list-style: none;
}

h1, h2, h6 {
  font-weight: bold;
  color: white;
}

h3, h4, h5 {
  font-weight: bold;
  color: black;
}

img {
  max-width: 100%;
  height: auto;
}

section {
  padding: 60px 0 80px 0;
}

section .heading {
  text-align: center;
  padding-bottom: 40px;
}

section .heading h2 {
  text-transform: uppercase;
}

.button1 {
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  border: 1px solid white;
  padding: 18px 50px;
  display: inline-block;
  margin-top: 20px;
  border-radius: 3px;
  transition: all 0.3s ease-in 0s;
  text-decoration: none;
  background: transparent;
}

.button1:hover {
  background: white;
  color: #d82c2e;
}

/* Navbar */
.navbar {
  background-color: #d82c2e;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 1px solid white;
}

.navbar-nav {
  margin: 0px auto;
  text-align: center;
}

.nav-link {
  color: white !important;
  margin: 0 6px;
}

.nav-link.active, .nav-link:hover {
  background-color: white;
  color: #d82c2e !important;
}

/* ... (autres sections) */

/* Footer */
footer {
  background-color: #333;
  padding: 20px 0 40px;
}

footer span {
  color: #d82c2e;
  font-size: 25px;
  line-height: 35px;
}

footer span:hover {
  font-size: 27px;
}

footer h5 {
  color: white;
  font-weight: normal;
}
